<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <targets>
        <target name="applicationFile" xsi:type="File" createDirs="true"
                fileName="${var:logDirectory}/application.jsonl"
                archiveFileName="${var:logDirectory}/archive/application.{#}.jsonl"
                archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyyMMdd"
                maxArchiveFiles="${var:retentionDays}" enableArchiveFileCompression="true">
            <layout xsi:type="JsonLayout" includeAllProperties="true" includeScopeProperties="true">
                <attribute name="timestampUtc" layout="${date:universalTime=true:format=o}" />
                <attribute name="level" layout="${level:uppercase=true}" />
                <attribute name="logger" layout="${logger}" />
                <attribute name="message" layout="${message}" />
                <attribute name="exception" layout="${exception:format=tostring}" />
            </layout>
        </target>
        <target name="securityFile" xsi:type="File" createDirs="true"
                fileName="${var:logDirectory}/security-audit.jsonl"
                archiveFileName="${var:logDirectory}/archive/security-audit.{#}.jsonl"
                archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyyMMdd"
                maxArchiveFiles="${var:retentionDays}" enableArchiveFileCompression="true">
            <layout xsi:type="JsonLayout" includeAllProperties="true" includeScopeProperties="true">
                <attribute name="timestampUtc" layout="${date:universalTime=true:format=o}" />
                <attribute name="level" layout="${level:uppercase=true}" />
                <attribute name="logger" layout="${logger}" />
                <attribute name="message" layout="${message}" />
                <attribute name="exception" layout="${exception:format=tostring}" />
            </layout>
        </target>
    </targets>
    <rules>
        <logger name="GallerySiteBackend.Audit" minlevel="Info" writeTo="securityFile" final="true" />
        <logger name="GallerySiteBackend.Security" minlevel="Info" writeTo="securityFile" final="true" />
        <logger name="GallerySiteBackend.*" minlevel="Info" writeTo="applicationFile" />
        <logger name="Application.*" minlevel="Info" writeTo="applicationFile" />
        <logger name="Service.*" minlevel="Info" writeTo="applicationFile" />
    </rules>
</nlog>
